%section#about-us.about-us.padd-section
  .container{"data-aos" => "fade-up"}
    .row.justify-content-center
      .col-md-5.col-lg-3
        =image_tag @student.image.variant(gravity: :center, resize:"350x540^", crop:"350x540+0+0").processed, class: 'img-fluid'
      .col-md-7.col-lg-5
        .about-content{"data-aos" => "fade-left", "data-aos-delay" => "100"}
          %h2
            #{@student.name}
          %b=t('activerecord.attributes.student.description')
          %p
            #{@student.description}
          %ul.list-unstyled
            %li
              %b=t('activerecord.attributes.student.age')
              #{@student.age}
            %li
              %b=t('activerecord.attributes.student.primary_language')
              #{@student.primary_language}
  .container{"data-aos" => "fade-up"}
    =link_to '生徒情報を更新する', edit_login_student_path(@student.id), class: 'btn-top'
    =link_to '生徒情報を削除' , login_student_path(@student.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn-top'
    =link_to '戻る', root_path, class: 'btn-top'