.row.justify-content-center{"data-aos" => "fade-up", "data-aos-delay" => "100"}
  .col-lg-12.col-md-12
    .form
      =bootstrap_form_with model: [:login, @plan], local: true do |f|
        .form-group
          =f.text_field :title
        .form-group.mt-3
          =f.text_field :study_aid
        .form-group.mt-3
          =f.text_area :plan_detail
        .form-group.mt-3
          =f.text_area :plan_goal
        .form-group.mt-3
          =f.date_select :start_at
        .form-group.mt-3
          =f.date_select :end_at
        .text-center
          =f.submit