%section#pricing.padd-section.text-cente
  .container{"data-aos" => "fade-up"}
    .section-title.text-center
      %h2 学習計画一覧
      %p.separator 学習計画を振り返ろう！
    .row{"data-aos" => "fade-up", "data-aos-delay" => "100"}
      -@plans.each do |plan|
        .col-md-6.col-lg-4.py-3
          .block-pricing
            .table 
              %h2 
                "#{plan.title}"
              %ul.list-unstyled
                %li
                  %b 期間
                  "#{plan.start_at} 〜 #{plan.end_at}"
                %li
                  %b 使用教材
                  "#{plan.study_aid}"
              .table_btn
                =link_to '詳細', login_plan_path(plan.id), class: 'btn'
  .container{"data-aos" => "fade-up"}
    =link_to '学習計画を作成', new_login_plan_path, class: 'btn-top'
    =link_to '戻る', root_path, class: 'btn-top'